@model IEnumerable<IMS.Models.Sale>

@{
    ViewBag.Title = "SaleList";
}
    <link href="~/Content/css/TableDesign.css" rel="stylesheet" />
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#table tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

        /**/</script>
    
    <div class="header bg-gradient-primary pb-5 pt-3 pt-md-5">
        
    </div>
    <div class="row">
        <div class="col-md-8">
            <h2 style="margin-left:450px">Sale List</h2>
        </div>
        <div class="col-md-4">
            <input style="margin-top:4px" id="myInput" type="text" placeholder="Search..">
        </div>
    </div>

<table class="table" id="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.InvoiceNumber)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.SaleDateTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vat)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.TotalAmoun)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ItemTotal)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Product.ProductCode)
        </th>@if (User.IsInRole("Admin"))
        {
            <th>Action</th>
            }
        </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.InvoiceNumber)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.SaleDateTime)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Vat)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.TotalAmoun)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ItemTotal)
    </td>

    <td>
        @Html.DisplayFor(modelItem => item.Product.ProductCode)
    </td>
    @if (User.IsInRole("Admin"))
    {
        <td>
            <a class="btn btn-sm btn-icon" href="@Url.Action("Edit", "Edit", new { id = item.SaleId })"><i class="fa fa-edit" style="font-size:18px"></i></a>
            <a class="btn btn-sm btn-danger" href="@Url.Action("Delete", "Delete", new { id = item.SaleId })"><i class="fa fa-trash" aria-hidden="true"></i></a>
        </td>
    }
    </tr>
}

</table>
