@model IEnumerable<IMS.Models.User>

@{
    ViewBag.Title = "Index";
}

    <div class="container">
        <div class="header bg-gradient-primary pb-5 pt-3 pt-md-5">
        </div>
        <h2>Index</h2>
        @if (User.IsInRole("Admin")) { 
        <p>
            @Html.ActionLink("Create New", "Create")
        </p>
        }
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserEmail)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserPhone)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserPassword)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserImage)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Role.RoleName)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserEmail)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserPhone)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserPassword)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserImage)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Role.RoleName)
                    </td>
                    @if (User.IsInRole("Admin")) { 
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                    </td>
                    }
                </tr>
            }

        </table>
        </div>