@model IEnumerable<IMS.Models.User>

@{
    ViewBag.Title = "Index";

}
    <div class="header bg-gradient-primary pb-4 pt-3 pt-md-4">

    </div>
    <link href="~/Content/css/TableDesign.css" rel="stylesheet" />
   
        <div class="header bg-gradient-primary pb-5 pt-3 pt-md-5">
        </div>
        <div>
            <h2 style="margin-left:450px">User List</h2>

            <table class="table" id="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.UserName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserEmail)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserPhone)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.UserAddress)
                    </th>
                    
                    
                    <th>
                        @Html.DisplayNameFor(model => model.Role.RoleName)
                    </th>
                    <th>Action</th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserEmail)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserPhone)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UserAddress)
                        </td>
                        
                        

                        <td>
                            @Html.DisplayFor(modelItem => item.Role.RoleName)
                        </td>
                        
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.UserId }) |
                                @Html.ActionLink("Details", "Details", new { id = item.UserId }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.UserId })
                            </td>
                        
                    </tr>
                }

            </table>
        </div>
        