@using System.Collections
@using IMS.Models
@model IEnumerable<IMS.Models.Product>


@{
    ViewBag.Title = "Index";
}
    <link href="~/Content/css/TableDesign.css" rel="stylesheet" />

<div class="header bg-gradient-primary pb-5 pt-3 pt-md-5">
</div>
<div class="container">
    <h2 style="margin-left:450px">List of Requisition</h2>
    <div class="row" id="printTable">
        <table class="table table-striped" id="table">
            <thead>
                <tr>
                    <th>Serial No.</th>
                    <th>Product Name</th>
                    <th>Color</th>
                    <th class="text-center">Size</th>
                    <th class="text-center">Quantity</th>
                </tr>
            </thead>

            <tbody>
                @if (Session["Requisition"] != null)
                { var i = 1;
                    foreach (var item in (IEnumerable<Product>)Session["Requisition"])
                    {
                        <tr>
                            <td>@i</td>
                            <td>@item.ProductName</td>
                            <td>@item.Color.ColorName</td>
                            <td>@item.Size.SizeName</td>

                            <td>@item.ProductQuantity</td>
                        </tr>
                        i++;
                    }
                }
            </tbody>
        </table>

    </div>
    <button style="margin-left:450px">Print me</button>
    
</div>

<script>
    function printData() {
        var divToPrint = document.getElementById("printTable");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }
</script>
<script>

    $('button').on('click', function () {
        printData();
    })

</script>