
@model IEnumerable<IMS.Models.Product>

<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div class="header bg-gradient-primary pb-5 pt-3 pt-md-5">
    </div>

    <h2>Filterable Table</h2>
    <p>Type something in the input field to search the table for first names, last names or emails:</p>
    <input id="myInput" type="text" placeholder="Search..">
    <br><br>

        <table class="table">

            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ProductCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductName)
                </th>
                
                <th>
                    @Html.DisplayNameFor(model => model.SellingPrice)
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tbody id="myTable">
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProductName)
                        </td>
                        
                        <td>
                            @Html.DisplayFor(modelItem => item.SellingPrice)
                        </td>
                        

                    </tr>
                    </tbody>
                    }

            </table>
        

    </body>
</html>
