@using System.Collections
@using IMS.Models
@model IEnumerable<IMS.Models.Product>

@{
    ViewBag.Title = "POS";
}
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });

            /**/</script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        .numberInput {
            width: 60px;
        }
    </style>
</head>

<div class="container">
    <div class="header bg-gradient-primary pb-5 pt-3 pt-md-5">
    </div>

    

    <div>
        <h2>POS</h2>
        <div class="row">
            <div class="col-lg-7" style="background-color:lavender;">
                <div class="col-lg-12" style="margin-top:5px">
                    <input id="myInput" type="text" placeholder="Search..">
                    <br><br>

                   

                <table class="table">

                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductCode)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.ProductName)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.SellingPrice)
                        </th>
                        <th>Qty</th>
                        <th></th>
                    </tr>
                    <tr></tr>




                    @{ var i = 0;}
                    
                    <tbody id="myTable">
                        @foreach (var item in Model) {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductCode)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProductName)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.SellingPrice)
                            </td>

                            @*<td>

                                <input type="number" class="numberInput" name="SaleQuantity@(i++)" id="SaleQuantity@(i++)" min="1">*@

                                @* <td>
                <a href="@Url.Action("GetProductInReceipt", "Sale", new { id = item.ProductId, saleQuantity= i })">+</a>

            </td>*@
                            <td>
                                <input type="hidden" value="@item.ProductId" id="ProductId@(i)" />
                                <input type="number" class="numberInput" name="SaleQuantity@(i)" id="SaleQuantity@(i)" min="1">
                                
                               
                                </td>
                                

                            <td>
                                @*<a href="#" id="UpdateSaleQuantity" data-id="@(i)">+</a>*@

                                @*<a href="@Url.Action("GetProductInReceipt", "Sale", new { productId = item.ProductId, saleQuantity= "k" })">+</a>*@
                                @*@Html.ActionLink("+", "GetProductInReceipt", "Sale", new { productId = item.ProductId, saleQuantity="a" }, new {@class = "link"})*@

                                <input type="button" value="+" onclick="location.href='@Url.Action("GetProductInReceipt", "Sale")?qty=' + document.getElementById('SaleQuantity@(i)').value + '&productId=@item.ProductId'" />
                                @*<input type="button" value="+" onclick="location.href='@Url.Action("GetProductInReceipt", "Sale")?id=' + document.getElementById('SaleQuantity@(i)').value" />*@

                                @*<input type="button" value="+" onclick="location.href='@Url.Action("GetProductInReceipt", "Sale")?id=' + $('#SaleQuantity@(i)').val()" />*@
                                @*<a href="@Url.Action("GetProductInReceipt", "Sale", new { id = item.ProductId , saleQuantity = 2})">+</a>*@
                                

                            </td>



                                </tr>
                                i++;
                                    }
                            </tbody>



                        </table>


                        </div>

                    </div>
                    <div class="col-lg-5" style="background-color:#f3ecec;">
                        <div class="row">
                            <div class="col-lg-5" style="margin-top:5px">
                                <address>
                                    <strong>cavemanint.com</strong>
                                    <br>
                                    House# 01, Road# 02
                                    <br>
                                    Sector#12,Uttara,Dhaka
                                    <br>
                                    <abbr title="Phone">P:</abbr> (02) 484-6829
                                </address>
                            </div>
                            <div class="col-lg-7 text-right">
                                <p>
                                    <em>Date: @DateTime.Now</em>
                                </p>
                                <p name="Receipt" value="2">
                                    <em>Receipt # @ViewBag.InvoiceNumber </em>
                                </p>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-lg-12">



                            </div>
                            <div class="col-lg-12 text-md-center">

                                <h1>Receipt</h1>
                            </div>
                        </div>

                        <div class="row">
                            <table class="table table-hover" id="tblCustomers">
                                <thead>
                                    <tr>
                                        <th>Product</th>
                                        <th>Qty</th>
                                        <th class="text-center">Price</th>
                                        <th class="text-center">Total</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    @if (Session["ProductSale"] != null)
                                    {
                                        foreach (var sellProduct in (IEnumerable<ProductSale>)Session["ProductSale"])


                                        {
                                            <tr>
                                                <td class="justify-content-around"><em>@sellProduct.Product.ProductName</em></td>
                                                <td><em>@sellProduct.SaleQuantity</em></td>
                                                <td class="justify-content-around"><em>@sellProduct.SalePrice</em></td>
                                                <td class="justify-content-around"><em>@sellProduct.TotalPrice</em></td>
                                                <td>
                                                    <a href="@Url.Action("DeleteFromReceipt", "Sale", new { id = sellProduct.ProductId})"><i class="fa fa-trash" aria-hidden="true"></i></a>

                                                </td>

                                            </tr>
                                        }

                                    }


                                    <tr>
                                        <td>   </td>
                                        <td>   </td>
                                        <td class="text-right"><h4><strong>Item Total: </strong></h4></td>
                                        <td class="text-center text-danger"><h4><strong>@ViewBag.ItemTotal</strong></h4></td>
                                    </tr>
                                    <tr>
                                        <td>   </td>
                                        <td>   </td>
                                        <td class="text-right"><h4><strong>Discount </strong></h4></td>
                                        <td class="text-center text-danger"><h4><strong>@ViewBag.count</strong></h4></td>
                                    </tr>
                                    <tr>
                                        <td>   </td>
                                        <td>   </td>
                                        <td class="text-right"><h4><strong>Vat </strong></h4></td>
                                        <td class="text-center text-danger"><h4><strong>@ViewBag.Vat</strong></h4></td>
                                    </tr>
                                    <tr>
                                        <td>   </td>
                                        <td>   </td>
                                        <td class="text-right"><h4><strong>Total Amount: </strong></h4></td>
                                        <td class="text-center text-danger"><h4><strong>@ViewBag.TotalAmount</strong></h4></td>
                                    </tr>
                                </tbody>


                            </table>


                        </div>


                        <div class="row">
                            <div class="col-lg-4">
                                <a href='@Url.Action("ViewSaleHold", "Sale")' class="btn btn-success btn-lg btn-block">View Sale Hold </a>  <span class="glyphicon glyphicon-chevron-right"></span>
                            </div>
                            <div class="col-lg-4">
                                <a href='@Url.Action("SaleHold", "Sale")' class="btn btn-success btn-lg btn-block">Sale Hold </a>  <span class="glyphicon glyphicon-chevron-right"></span>
                            </div>
                            <div class="col-lg-4">

                                <a href='@Url.Action("Sale", "Sale")' class="btn btn-success btn-lg btn-block">Pay Now </a>  <span class="glyphicon glyphicon-chevron-right"></span>


                            </div>
                        </div>
                        <h1 style="text-align:center;">
                            Thank you for your Purchase.
                        </h1>
                    </div>
                </div>
            </div>

        </div>

        <script>
            $(function () {
                $('.link').click(function () {
                //    var rowId = $(this).data('id');
                //var saleQuantity = $($("#SaleQuantity" + rowId)).val();

                    this.href = this.href.replace("a", "aa");
                });
            });
        </script>
@*<script src="~/Scripts/js/jquery.min.js"></script>*@
        @*<script>
            $("#UpdateSaleQuantity").click(function () {

                var rowId = $(this).data('id');
                var saleQuantity = $($("#SaleQuantity" + rowId)).val();
                var productId = $($("#ProductId" + rowId)).val();
                $.ajax({
                    type: "POST",
                    URL: @Url.Action("GetProductInReceipt", "Sale"),
                    data: { 'productId': productId, 'saleQuantity': saleQuantity },
                    dataType: "json",
                    success: function (response) {
                        //handle response
                    },
                    error: function (err) {
                         //handle response
                    }
                });

            });
        </script>*@

                                

